@let isBoxSelected = isBoxSelected$ | async;
@let selectedOption = selectedOption$ | async;
<button
  type="button"
  [class]="
    'flex flex-col justify-center items-center space-y-3 w-full h-24 rounded-lg border border-gray-300 hover:cursor-pointer hover:bg-gray-100 hover:border-2' +
    (isBoxSelected ? ' bg-green-100 hover:bg-green-100 border-2 border-green-300' : '')
  "
>
  <span
    [class]="
      'text-sm uppercase font-semibold ' + (isBoxSelected ? ' text-green-600' : 'text-gray-500')
    "
    >Box {{ boxId }}</span
  >
  @if (selectedOption) {
    <div class="flex flex-col justify-center items-center">
      <span class="text-sm font-semibold">{{ selectedOption.label }}</span>
      <span class="text-sm font-semibold">${{ selectedOption.value }}</span>
    </div>
  } @else {
    <span class="text-sm font-sm text-gray-500">Empty</span>
  }
</button>
